services:
  - type: web
    name: meetyoulive-api
    runtime: node
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: GOOGLE_CALLBACK_URL
        value: https://api.meetyoulive.net/api/auth/google/callback
      - key: FRONTEND_URL
        value: https://meetyoulive.net
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: STRIPE_SUBSCRIPTION_PRICE_ID
        sync: false

  - type: web
    name: meetyoulive-frontend
    runtime: node
    plan: free
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NEXT_PUBLIC_API_URL
        value: https://api.meetyoulive.net
      - key: NEXT_PUBLIC_GOOGLE_URL
        value: https://api.meetyoulive.net/api/auth/google
      - key: NEXT_PUBLIC_LIVE_PROVIDER_KEY
        sync: false
